html, body {
  margin: 0;
  height:100%;
}

body {
  background-color: blanchedalmond;
}

header {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/header-background.jpg");
    background-size:cover;
    background-position:center;
}

h1,
h3 {
  font-family: "Roboto Mono", monospace;
}

.subtitle {
  font-style: italic;
  color: darkgoldenrod;
}

#name {
    font-size: 64px;
  color: darkslateblue;
  text-align: center;
}
