html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* background-image: url("img/header-background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed; */
  color: white;
  perspective: 1px;
  transform-style: preserve-3d;
}

#parallax-background {
  background-image: url("img/header-background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  transform: translateZ(-40px) scale(44);
  position: absolute;
  height: 130%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

article {
  padding: 8vh 0;
}

.view-case-study input {
  font-weight: 700;
  padding: 0.75em 1.5em;
  background-color: #004dc4;
  border-radius: 10em;
  font-family: "Roboto";
  color: white;
  font-size: large;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  margin: 1.8em;
  transition: background-color 240ms;
}

.view-case-study input:hover {
  background-color: #0064ff;
  cursor: pointer;
}

.view-case-study input:active {
  /* background-color: #003e9b; */
  position: relative;
  top: 2px;
  left: 2px;
  cursor: pointer;
}

button .material-symbols-outlined {
  font-size: x-large;
}

.screenshot {
  width: 67%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: white;
  text-align: center;
  width: max-content;
}

.project img {
  max-width: 73vw;
  max-height: 73vh;
  width: auto;
  height: auto;
  margin: 3em;
  border-radius: 3%;
  position: relative;
}

.project:hover img {
  margin-bottom: 3em;
  max-width: 76vw;
  max-height: 76vh;
  top: -2vh;
}

.project img:active {
  top: 0;
  max-height: 75vh;
  max-width: 75vw;
}

.project a {
  text-decoration: none;
}

.project p {
  font-size: large;
}

.project-container {
  margin: 12%;
}

.gradient-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    10deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.09) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.gradient-background-reverse {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    350deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.09) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.launch-button {
  display: inline;
  padding: 8px 16px;
  border-radius: 32px;
  background-color: #4cb44c;
  color: black;
  font-family: "Roboto Mono", monospace;
}

.section-title {
  text-align: center;
  font-size: 6em;
  font-family: "Ubuntu";
}

.article-title {
  font-family: "Ubuntu";
  font-size: 2.4em;
  margin: 0.2em;
}

#gradient-overlay {
  background: rgba(0, 43, 111, 0.85);
  background: linear-gradient(
    0deg,
    rgba(0, 43, 111, 0.85) 0%,
    rgba(0, 43, 111) 25%
  );
  height: 100%;
  width: 100%;
}

.hero-text {
  font-style: normal;
  font-size: 8em;
  padding: 0px 6rem;
  color: rgba(0, 43, 111, 0.65);
  margin-top: 0;
  margin-bottom: 0;
}

.title-accent {
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.6rem;
  padding: 0px 36px;
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 6rem;
}

#bio {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

#bio-content {
  display: flex;
  flex-direction: row;
}

#content-overlay {
  background: rgba(0, 8, 14, 0.85);
  background: linear-gradient(
    180deg,
    rgba(0, 8, 14, 0) 0%,
    rgba(0, 8, 14, 0.85) 10%
  );
  padding-top: 10%;
  position: relative;
}

#texas {
  padding: 16px 8px;
  height: 32px;
}

.name-flex {
  display: flex;
  height: max-content;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#hello {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5%;
  color: rgba(0, 43, 111, 0.65);
}

#header-title {
  height: max-content;
  width: 100%;
  position: sticky;
  top: 0;
  padding-top: 5vh;
}

#about {
  color: white;
}

#objective-text {
  position: relative;
  top: -4vh;
}

@media only screen and (max-width: 1300px) {
  .hero-text {
    font-size: 7em;
    padding-right: 3rem;

    transition: font-size 250ms;
  }
}
@media only screen and (max-width: 1100px) {
  .name-flex {
    flex-direction: column;
    align-items: end;
  }
  .hero-text {
    padding: 0 1.5rem;
    font-size: 6em;
    font-style: bold;
  }
  .title-accent {
    padding: 0.15rem 1.5rem;
    font-size: 2.5em;
  }
  .section-title {
    font-size: 4em;
  }

  #objective-text {
    position: relative;
    top: -1rem;
  }

  #header-title {
    padding: 0;
  }
}
