html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-image: url("img/header-background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

.screenshot {
  width: 67%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px rgba(65, 65, 65, 0.78) solid;
  padding: 3%;
  color: white;
}

.project h2 {
  padding-bottom: 8px;
  display: inline;
}

.project img {
  height: 75vh;
  width: auto;
  border-radius: 3%;
}

.launch-button {
  display: inline;
  padding: 8px 16px;
  border-radius: 32px;
  background-color: #4cb44c;
  color: black;
  font-family: "Roboto Mono", monospace;
}

.section-title {
  text-align: center;
  font-size: 6em;
  font-family: "Ubuntu";
}

.article-title {
  font-family: "Ubuntu";
  font-size: 2.4em;
}

#gradient-overlay {
  background: rgba(0, 43, 111, 0.85);
  background: linear-gradient(
    0deg,
    rgba(0, 43, 111, 0.85) 0%,
    rgba(0, 43, 111) 25%
  );
  height: 100%;
  width: 100%;
}

.hero-text {
  font-style: normal;
  font-size: 8em;
  padding: 0px 6rem;
  color: rgba(0, 43, 111, 0.65);
  margin-top: 0;
  margin-bottom: 0;
}

.title-accent {
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-size: 54px;
  padding: 0px 36px;
  color: rgb(255, 235, 199);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 6rem;
}

#bio {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

#bio-content {
  display: flex;
  flex-direction: row;
}

#content-overlay {
  background: rgba(0, 8, 14, 0.85);
  background: linear-gradient(
    180deg,
    rgba(0, 8, 14, 0) 0%,
    rgba(0, 8, 14, 0.85) 10%
  );
  padding-top: 10%;
  position: relative;
}

#texas {
  padding: 16px 8px;
  height: 32px;
}

.name-flex {
  display: flex;
  height: max-content;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#hello {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5%;
  color: rgba(0, 43, 111, 0.65);
}

#header-title {
  height: max-content;
  width: 100%;
  position: sticky;
  top: 0;
  padding-top: 5vh;
}

#about {
  color: white;
}

#objective-text {
  position: relative;
  top: -4vh;
}

@media only screen and (max-width: 1100px) {
  .hero-text {
    font-size: 7em;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .name-flex {
    flex-direction: column;
    align-items: end;
  }
  .hero-text {
    padding: 0 1.5rem;
    font-size: 6em;
    font-style: bold;
  }
  .title-accent {
    padding: 0 1.5rem;
    font-size: 3em;
  }

  #objective-text {
    position: relative;
    top: -1rem;
  }

  #header-title {
    padding: 0;
  }
}
