@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Ubuntu:wght@500&display=swap");
/* GENERAL */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  perspective: 1px;
  transform-style: preserve-3d;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  color: white;
  transition: all 120ms ease-in-out;
  text-align: left;
  background-color: black;
}

h1 {
  font-size: 10rem;
  font-family: "Fredericka the Great";
}

h2,
h3,
h5 {
  font-weight: 300;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 4.45rem;
  font-weight: 300;
}

h5 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

p,
li {
  font-size: 1.75rem;
  line-height: 2.25em;
}

li {
  margin-top: 2rem;
}

p i {
  font-size: 1.25em;
}

input:invalid {
  border: 0.1rem solid red;
}

form {
  row-gap: 2.75rem;
  transition: all 540ms;
  position: relative;
}

form h4 {
  font-size: 3rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

ul {
  list-style-type: circle;
}

article {
  width: 100%;
}

section {
  padding: 6vh 0;
}

/* mobile landscape & desktop */
@media only screen and (orientation: landscape), (max-resolution: 200dpi) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5.75rem;
  }

  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  p,
  li {
    font-size: 1.25rem;
  }

  form {
    row-gap: 1rem;
  }

  form h4 {
    font-size: 2.5rem;
  }
}

/* full screen desktop */
@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 7rem;
  }
}

/* UTILITIES */

.required {
  color: red;
  vertical-align: top;
}

.max-100 {
  max-width: 100%;
  height: auto;
  width: auto;
}

.no-bullets {
  list-style-type: none;
}

.fill-page-height {
  min-height: 90vh;
  justify-content: space-evenly;
}

.zero-top {
  margin-top: 0;
  padding-top: 0;
}

.centered {
  width: max-content;
  margin: 0 auto;
}
.fullscreen {
  min-height: 100%;
  width: 100%;
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.flex-col,
article.flex-col {
  align-items: start;
}

.move-right {
  text-align: end;
}

.margin-y-l {
  margin: 5rem 0;
}

.margin-y-m {
  margin: 2rem 0;
}

.margin-y {
  margin: 1rem 0;
}

/* fullscreen desktop */
@media only screen and (min-width: 1100px) {
  .shift-up {
    position: relative;
    top: -4vh;
  }

  .margin-y {
    margin: 2rem 0;
  }

  .margin-y-m {
    margin: 3rem 0;
  }

  .margin-y-l {
    margin: 10vh 0;
  }
}

.accent {
  color: azure;
}

.transp-grad {
  background: rgba(0, 8, 14, 0.85);
  background: linear-gradient(
    180deg,
    rgba(0, 8, 14, 0) 0%,
    rgba(0, 8, 14, 0.85) 5%
  );
}

.transp-grad-light {
  background: rgb(239, 242, 255);
  background: linear-gradient(
    0deg,
    rgba(186, 227, 255, 0.3) 33%,
    rgba(255, 255, 255, 0) 100%
  );
}

.scroll-content {
  position: relative;
  padding-top: 1vh;
  transform-origin: bottom;
}

.scroll-snap-end {
  scroll-snap-align: end;
}

.gradient-10deg {
  background: rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    10deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.gradient-350deg {
  background: rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    350deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.full-width {
  min-width: 100%;
}

.pad-x {
  padding: 0 3rem;
}

.pad-all {
  padding: 3rem;
}

/* Fullscreen desktop*/
@media only screen and (min-width: 1000px) {
  .pad-x {
    padding: 0 15vw;
  }

  .responsive-wrap.pad-x {
    padding: 0 3rem;
  }
  .pad-all {
    padding: 0 15vw;
  }
}

.sticky-header {
  height: max-content;
  width: 100%;
  position: sticky;
  top: 5vh;
}

@media only screen and (max-width: 1100px) {
  .sticky-header {
    padding: 0;
  }
}

.responsive-wrap {
  align-items: end;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
  width: 100%;
}

/* TYPOGRAPHY */
.accent-text {
  font-weight: 700;
  font-family: "Ubuntu";
  font-style: italic;
  color: azure;
}

.dark-text {
  color: #0000009e;
}

.display-text {
  font-weight: 300;
  line-height: 2.25;
  font-family: "Montserrat";
}

.subtitle-text {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3em;
}

/* SITE WIDE */
.background {
  background-image: url("/img/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  height: 180%;
}

.parallax {
  transform: translateZ(-50px) scale(53);
  perspective-origin: bottom;
}

.double-space {
  line-height: 2;
}

.parallax-fast {
  transform: translateZ(-5px) scale(7);
}

.max-w-22 {
  max-width: 22em;
}

.max-w-28 {
  max-width: 28em;
}

.max-w-42 {
  max-width: 42em;
}

.text-input {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  border-radius: 1em;
  padding: 0.8em 1em;
  transition: all 360ms;
  width: 100%;
}

.text-input:focus {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-color: azure;
}

textarea.text-input {
  width: 100%;
  height: 8em;
  margin-right: 0;
}

@media only screen and (orientation: landscape) {
  .text-input {
    font-size: 1.75rem;
  }
}

/* desktop */
@media only screen and (max-resolution: 200dpi) {
  .text-input {
    font-size: 1.4rem;
    height: 2.5em;
  }
}

.button {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 10em;
  color: white;
  font-family: "Ubuntu";
  font-size: 3.25rem;
  font-weight: 500;
  padding: 0.75em 2em;
  transition-property: background-color, border-color, color, transform;
  transition-duration: 240ms, 240ms, 240ms, 120ms;
  width: max-content;
}

.button:hover {
  background-color: #000000;
  border-color: azure;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

.button:active {
  position: relative;
  transform: scale(1.075);
}

@media only screen and (orientation: landscape) {
  .button {
    font-size: 2rem;
  }
}

@media only screen and (max-resolution: 200dpi) {
  .button {
    font-size: 1.5rem;
  }
}
