@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Ubuntu:wght@500&display=swap");
/* GENERAL */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", "Roboto", Helvetica, sans-serif;
  perspective: 1px;
  transform-style: preserve-3d;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  color: white;
  transition: all 120ms ease-in-out;
  text-align: left;
  background-color: black;
}

h1 {
  font-size: 10rem;
  font-family: "Fredericka the Great";
}

h2,
h3 {
  font-weight: 300;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 5.5rem;
}

h4 {
  font-size: 4.45rem;
  font-weight: 500;
}

h5 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 2.75rem;
  line-height: 2.25em;
}

p i {
  font-size: 1.25em;
}

input:invalid {
  border: 0.1rem solid red;
}

form {
  row-gap: 2.75rem;
  transition: all 540ms;
  padding: 3vh 2vw;
  position: relative;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  margin: 3em;
  border-radius: 18px;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  form {
    padding: 0 15vw;
  }
}

@media only screen and (min-width: 1100px) {
  img {
    max-width: 73vw;
    max-height: 73vh;
  }
}

section {
  padding: 8vh 0;
}

@media only screen and (orientation: landscape), (max-resolution: 200dpi) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2.8rem;
  }
  h5 {
    font-size: 2rem;
  }

  p {
    font-size: 1.6rem;
  }

  form {
    row-gap: 1rem;
  }
}

/* UTILITIES */
.required {
  color: red;
  vertical-align: top;
}

.fill-page-height {
  height: 90vh;
  justify-content: space-evenly;
}

.zero-top {
  margin-top: 0;
  padding-top: 0;
}

.centered {
  width: max-content;
  margin: 0 auto;
}
.fullscreen {
  min-height: 100%;
  width: 100%;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.flex-col,
article.flex-col {
  align-items: start;
}

.move-right {
  text-align: end;
}

/* @media only screen and (orientation: landscape), (max-resolution: 200dpi) {
  .move-right {
    text-align: center;
  }
} */

.pad-y {
  padding: 2rem 0;
}

.margin-y {
  margin: 1rem 0;
}

.shift-up {
  position: relative;
  top: -1rem;
}

@media only screen and (min-width: 1100px) {
  .shift-up {
    position: relative;
    top: -4vh;
  }
}

.accent {
  color: azure;
}

.transp-grad {
  background: rgba(0, 8, 14, 0.85);
  background: linear-gradient(
    180deg,
    rgba(0, 8, 14, 0) 0%,
    rgba(0, 8, 14, 0.85) 10%
  );
}

.transp-grad-light {
  background: rgb(239, 242, 255);
  background: linear-gradient(
    0deg,
    rgba(186, 227, 255, 0.3) 33%,
    rgba(255, 255, 255, 0) 100%
  );
}

.scroll-content {
  position: relative;
  padding-top: 1vh;
}

.scroll-snap-end {
  scroll-snap-align: end;
}

.gradient-10deg {
  background: rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    10deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.gradient-350deg {
  background: rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    350deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.full-width {
  min-width: 100%;
}

.full-width h3,
h4,
h5,
p {
  max-width: 85vw;
}

.pad-x {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 3rem;
}

.pad-all {
  padding: 3rem;
}

.sticky-header {
  height: max-content;
  width: 100%;
  position: sticky;
  top: 5vh;
}

@media only screen and (max-width: 1100px) {
  .sticky-header {
    padding: 0;
  }
}

.responsive-wrap {
  align-items: end;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: space-between;
  width: 100%;
}

/* wide screen mobile and desktop */
/* @media only screen and (orientation: landscape) and (min-resolution: 200dpi),
  (min-width: 1100px) {
  .responsive-wrap {
    flex-direction: row;
    align-items: center;
  }
} */
/* TYPOGRAPHY */
.accent-text {
  font-weight: 700;
  font-family: "Ubuntu";
  font-style: italic;
  color: azure;
}

.dark-text {
  color: #0000009e;
}

.display-text {
  font-weight: 300;
  line-height: 2.25;
  font-family: "Montserrat";
}

.subtitle-text {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 1.3em;
}

/* SITE WIDE */
.background {
  background-image: url("/img/header-background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  width: 100%;
  height: 180%;
}

.parallax {
  transform: translateZ(-50px) scale(53);
}

.double-space {
  line-height: 2;
}

.parallax-fast {
  transform: translateZ(-5px) scale(7);
}

.max-w-22 {
  max-width: 22em;
}

.max-w-28 {
  max-width: 28em;
}

.max-w-42 {
  max-width: 42em;
}

.text-input {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  border-radius: 1em;
  padding: 0.8em 1em;
  transition: all 360ms;
  width: 100%;
}

.text-input:focus {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-color: azure;
}

textarea.text-input {
  width: 100%;
  height: 8em;
  margin-right: 0;
}

@media only screen and (orientation: landscape) {
  .text-input {
    font-size: 1.85rem;
  }
}

@media only screen and (max-resolution: 200dpi) {
  .text-input {
    font-size: 1.4rem;
  }
}

.button {
  background-color: white;
  border-radius: 10em;
  color: black;
  font-family: "Rubik";
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  margin: 1.8em 0;
  padding: 1em 2em;
  transition: all 240ms ease-in-out;
  width: max-content;
}

.button:hover {
  background-color: #000000;
  border-color: azure;
  color: white;
  cursor: pointer;
  font-size: 2.7rem;
}

.button:active {
  position: relative;
  top: 0.25rem;
  left: 0.25rem;
  cursor: pointer;
}

@media only screen and (orientation: landscape) {
  .button {
    font-size: 1.6rem;
  }
  .button:hover {
    font-size: 1.7rem;
  }
}

@media only screen and (max-resolution: 200dpi) {
  .button {
    font-size: 1.25rem;
  }
  .button:hover {
    font-size: 1.35rem;
  }
}
